<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Artists</title>
</head>
<body>
    <h1>All Artists</h1>
    <ul>
        {% for artist in artists %}
            <li>
                <b><a href = "/artists/{{artist.id}}">{{artist.name}}</a></b>, {{artist.genre}}       
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <h3><a href="/artists/new">Add a New Artist</a></h3>
    <h3><a href="/">Homepage</a></h3>

</body>
</html>