<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Artist</title>
</head>
<body>
    <h1>Add a New Artist</h1>
    <form action="/artists" method="post">

        <!-- We check to see if there are any errors from a previous submission -->
        {% if errors %}
            <!-- If so, we show them. -->
            <p class="t-errors">
                There were errors with your submission: {{ errors }}
            </p>
        {% endif %}

        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
        </p>

        <p>
            <!-- `type` is submit here, to indicate it is a button -->
            <!-- `value` is used as the button's text -->
            <input type="submit" value="Create Artist">
        </p>
    </form>
    
</body>
</html>