<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{artist.name}}</title>
</head>
<body>
    <h1>{{ artist.name }}</h1>
    <p class="t-name"><b>Name:</b> {{artist.name}} </p>
    <p class="t-genre"><b>Genre:</b> {{artist.genre}}</p>
    <p class="t-albums"><b>Albums:</b> </p>
    <ul>
        {% for album in albums %}
        <li>
            <a href="/albums/{{album.id}}">{{album.title}} ({{album.release_year}})</a>
        </li>
        {% endfor %}

    </ul>
    <br>
    <br>     
    <form action="/artists/{{artist.id}}/delete" method="post">
        <input type="submit" value="Delete Artist">
      </form>
    <h3><a href="/artists">Back to All Artists</a></h3>
    <h3><a href="/">Homepage</a></h3>
</body>
</html>