<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Library HTML Project</title>
</head>
<body>
    <h1>Music Library HTML Project</h1>
    <p>
        <b>Welcome to the Music Library HTML Project</b> 
        <br><br>
        This project aims to demonstrate an ability to put together all the following skills learned so far: 
        <ul>
            <li>TTD and OOP with Python and HTML</li>
            <li>CRUD operations on a database through PostgreSQL</li>
            <li>HTTP Protocol</li> 
            <li>Flask and Jinja</li> 
        </ul>
        <b>This is my first full-stack project!</b>
    </p>
    <h2><a href="/artists">All Artist</a></h2>
    <h2><a href="/albums">All Albums</a></h2>
</body>
</html>