<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <h1>All Albums</h1>
    <ul>
      <!-- We'll use Jinja's `for` loop to iterate over all books -->
      {% for album in albums %}
        <li>
          <b><a href="/albums/{{album.album_id}}">{{album.title}} ({{album.release_year}})</a></b> by {{album.artist_name}}
        </li>
      {% endfor %}
      <!-- Jinja isn't Python, so we need an endfor to close the loop -->
    </ul>

    <br>
    <br>
    <h3><a href="/albums/new">Add a New Album</a></h3>
    <h3><a href="/">Homepage</a></h3>

</body>
</html>